.cv {
    background-color: #dbdbdb;
    max-width: 70%;
    margin: 5rem auto;
    padding: 1rem;

    header {
        .top-section {
            img {
                border-radius: 50%;
                height: 120px;
                width: 120px;
                object-fit: contain;
            }

            .user-info {
                width: calc(100% - 120px);
                text-align: center;

                h2 {
                    margin: 0 0 .5rem 0;
                    font-size: 2rem;
                    color: var(--text-main);
                }

                h4 {
                    font-size: 1.2rem;
                    margin: 0;
                    color: var(--text-secondary);
                }
            }
        }

        .contact-section {
            margin: 1.5rem 0 0 0;

            .info {
                gap: .5rem;
                color: var(--text-secondary);
                .info-data {
                    font-size: 1rem;
                }
            }
        }
    }
}