.navbar {
    height: var(--header);
    padding: 1rem;
    background-color: #EFF5F5;

    .nav-right {
        padding: 0;
        margin: 0;
        gap: 1rem;

        li {
            list-style-type: none;
            transition: all .2s ease-in;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}