@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header: 70px;
  --container: calc(100% - var(--header));
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

#root {
  height: 100%;
}

.flex {
  display: flex;
}

.i-flex {
  display: inline-flex;
}

.i-block {
  display: inline-block;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.container {
  height: var(--container);
}